<div float="right">
    <h3>Game Info: </h3>
    <div id="table-scroll">
        <table  style="float:right;" class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th sortable-header>Turn</th>
                <th sortable-header>White</th>
                <th sortable-header>Black</th>
            </tr>
            </thead>
            <tr class="pointer" ng-repeat="info in gameInfo"
                ng-init="highlitedColor=null;">

                <td> {{info.turn}}   </td>

                <td ng-class="{info: currentBoard.turn == info.whiteBoard.turn}"
                    ng-click="changeBoard(info.whiteBoard);">
                  {{info.whiteMove}} </td>

                <td ng-class="{info: currentBoard.turn == info.blackBoard.turn}"
                    ng-click="changeBoard(info.blackBoard);">
                  {{info.blackMove}}</td>
            </tr>
        </table>
    </div>
    </td>
</div>
