<div float="right">
    <h3>Game Info: </h3>
    <div id="table-scroll">
        <table  style="float:right;" class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th sortable-header>Turn</th>
                <th sortable-header>White</th>
                <th sortable-header>Black</th>
            </tr>
            </thead>
            <tr ng-class="{info:currentBoard.turn==value.turn}"
                class="pointer"
                ng-repeat="info in gameInfo">
                <td> {{info.turn}}   </td>
                <td ng-click="changeBoard(info.whiteBoard);"> {{info.whiteMove}} </td>
                <td ng-click="changeBoard(info.blackBoard)"> {{info.blackMove}}</td>
            </tr>
        </table>
    </div>
    </td>
</div>
