<div class="board" >
  <table id="chess_board" cellpadding="0" cellspacing="0">
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G8.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H8.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G7.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H7.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G6.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H6.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G5.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H5.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G4.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H4.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G3.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H3.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G2.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H2.value"></a></td>
    </tr>
    <tr>
      <td><a class="white" ng-bind-html="currentBoard.position.A1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.B1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.C1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.D1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.E1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.F1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.G1.value"></a></td>
      <td><a class="white" ng-bind-html="currentBoard.position.H1.value"></a></td>
    </tr>

  </table>
</div>
