<div id="commentSection" ng-show="game!=null">
<p>Comment :</p>
<form novalidate class="simple-form" ng-submit="addComment(comment)">
  <textarea id="commentBox" ng-model="comment" rows="7" cols="50"> </textarea>
  </br>
  <input type="submit" value="Add" />
</form>
</div>

<p>Enter game notation :</p>
<form novalidate class="simple-form" ng-submit="buildGame(notationString)">
    <textarea ng-model="notationString" rows="7" cols="50" required> </textarea>
    </br>
    <input type="submit" value="Submit" />
</form>
