<td piece board="currentBoard" index="'A'+index" id="{{'A'+index}}"></td>
<td piece board="currentBoard" index="'B'+index" id="{{'B'+index}}"></td>
<td piece board="currentBoard" index="'C'+index" id="{{'C'+index}}"></td>
<td piece board="currentBoard" index="'D'+index" id="{{'D'+index}}"></td>
<td piece board="currentBoard" index="'E'+index" id="{{'E'+index}}"></td>
<td piece board="currentBoard" index="'F'+index" id="{{'F'+index}}"></td>
<td piece board="currentBoard" index="'G'+index" id="{{'G'+index}}"></td>
<td piece board="currentBoard" index="'H'+index" id="{{'H'+index}}"></td>
