<td piece value="currentBoard.position['A'+index]" id="{{'A'+index}}"></td>
<td piece value="currentBoard.position['B'+index]" id="{{'B'+index}}"></td>
<td piece value="currentBoard.position['C'+index]" id="{{'C'+index}}"></td>
<td piece value="currentBoard.position['D'+index]" id="{{'D'+index}}"></td>
<td piece value="currentBoard.position['E'+index]" id="{{'E'+index}}"></td>
<td piece value="currentBoard.position['F'+index]" id="{{'F'+index}}"></td>
<td piece value="currentBoard.position['G'+index]" id="{{'G'+index}}"></td>
<td piece value="currentBoard.position['H'+index]" id="{{'H'+index}}"></td>
